@{
    List<Product> products = Model;
}




<section id="products">
    <div class="container">
       
        <div class="row">


            @foreach (var product in products)
            {

                <partial name="_ProductItemPartialView" model="product" />

            }
            

            
        </div>
    </div>
</section>
